<!-- <div class="d-flex h-100 w-100 text-center">
    <div class="cover-container d-flex w-60 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Welcome to the Synthesizer Showcase Website</h1>
            <div id="homepageVotingOnlineImage" class="w-80 p-3">
              <a href="https://github.com/killbizz/Synthesizers-Showcase-FE" class="btn btn-lg btn-danger fw-bold homepageSignUpButton">Sign Up to Vote!</a>
            </div>
            <p class="lead">You can visit the <b>Showcase</b> and, if you are a registered user, edit an existing <b>Synthesizer</b> or creating a new one.</p>
            <p class="lead">Synthesizer Showcase is a website built in order to practice the Angular framework for the front-end part, and the Spring framework for the back-end part.</p>
            <p class="lead">
              <a href="https://github.com/killbizz/Synthesizers-Showcase-FE" class="btn btn-lg btn-secondary fw-bold">Github Repository</a>
            </p>
          </main>
    </div>
</div> -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/colored-ballots_bw.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="600" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the Online Voting Web Application</h1>
      <p class="lead">In this website you can <b>Sign Up</b> to become a registered user and take part in all <b>elections</b> open to date. The admin of the platform can use the appropriate <b>dashboard</b> to manage the votes.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Sign Up to Vote!</button>
        <a href="https://github.com/killbizz/Synthesizers-Showcase-FE" type="button" class="btn btn-outline-secondary btn-lg px-4">Github Repository</a>
      </div>
    </div>
  </div>
</div>