<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/colored-ballots_bw.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="600" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the Online Voting Web Application</h1>
      <p class="lead">In this website you can <b>Sign Up</b> to become a registered user and take part in all <b>elections</b> open to date. The admin of the platform can use the appropriate <b>dashboard</b> to manage the votes.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a routerLink="/sign-up"><button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Sign Up to Vote!</button></a>
        <a routerLink="/login" type="button" class="btn btn-outline-secondary btn-lg px-4">Login with your credentials</a>
      </div>
    </div>
  </div>
</div>