<nav class="navbar navbar-expand-md navbar-light" style="background-color: #c2c2c2;" aria-label="Synthesizers Showcase Navbar">
    <div class="container">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link active" aria-current="page" href="" routerLink="">
            <img id="VotingOnlineWebApplication" src="../../assets/voting-box.png" alt="Online Voting Web Application" width="80" height="60">
           </a>
        </div>
      </div>
        <button class="navbar-toggler" (click)="isNavbarCollapsed = !isNavbarCollapsed" type="button" aria-controls="navbarControl" data-bs-toggle="collapse" data-bs-target="#navbarControl" aria-controls="navbarControl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" [ngbCollapse]="isNavbarCollapsed" id="navbarControl">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="">Homepage</a>
              </li>
              <li *ngIf="isUserLogged && !isUserAdmin" class="nav-item">
                <a class="nav-link" href="" routerLink="user-dashboard">Elections</a>
              </li>
              <li *ngIf="isUserAdmin" class="nav-item">
                <a class="nav-link" href="" routerLink="admin-dashboard">Admin Dashboard</a>
              </li>
          </ul>
          <div *ngIf="!isUserLogged && !isUserInLoginOrSignUpPage" class="navbar-nav">
            <div class="nav-item text-nowrap">
              <a class="nav-link" href="#" (click)="login($event)">Login</a>
            </div>
          </div>
          <div *ngIf="isUserLogged && !isUserInLoginOrSignUpPage" class="navbar-nav">
              <div class="nav-item text-nowrap mt-3">
                <p class="nav-link active">Hello {{username}}</p>
              </div>
              <div class="nav-item text-nowrap mt-3">
                <a class="nav-link" href="#" (click)="logout($event)">Logout</a>
              </div>
          </div>
        </div>
    </div>
</nav>