<nav class="navbar navbar-expand-md navbar-light" style="background-color: #c2c2c2;" aria-label="Synthesizers Showcase Navbar">
    <div class="container-fluid">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link active" aria-current="page" href="" routerLink="">
            <img id="VotingOnlineWebApplication" src="../../assets/voting-box.png" alt="Online Voting Web Application" width="80" height="60">
           </a>
        </div>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarControl" aria-controls="navbarControl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarControl">
          <ul class="navbar-nav">
              <li class="nav-item">
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="">Homepage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="">Elections</a>
              </li>
              <li class="nav-item">
                <a  *ngIf="isUserAdmin"class="nav-link" href="" routerLink="dashboard">Dashboard</a>
              </li>
          </ul>
        </div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
              <a *ngIf="!isUserLogged && !isUserInLoginOrSignUpPage" class="nav-link px-3" href="#" (click)="login($event)">Login</a>
            </div>
        </div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
              <a *ngIf="isUserLogged && !isUserInLoginOrSignUpPage" class="nav-link px-3" href="#" (click)="logout($event)">Logout</a>
            </div>
        </div>
    </div>
</nav>