<table class="table mb-4">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let election of elections">
            <th scope="row">{{election.id}}</th>
            <td>{{election.name}}</td>
            <td>{{election.startDate}}</td>
            <td>{{election.endDate}}</td>
            <td>
              <span *ngIf="!votePossibility(election.startDate,election.endDate)" class="d-inline-block" tabindex="0" ngbTooltip="This election is terminated or is not already openend">
                <button type="button" [disabled]="votePossibility(election.startDate,election.endDate) ? null : 'disabled'" class="btn btn-outline-secondary btn-sm px-4 me-md-2">Vote!</button>
            </span>
              <a *ngIf="votePossibility(election.startDate,election.endDate)" routerLink="election/{{election.id}}"><button type="button" class="btn btn-secondary btn-sm px-4 me-md-2">Vote!</button></a>
            </td>
        </tr>
    </tbody>
  </table>