<table class="table mb-4">
    <thead class="thead-light">
      <tr>
        <th scope="col">Election Name</th>
        <th scope="col">Election Start Date</th>
        <th scope="col">Election End Date</th>
        <th scope="col">Vote Date</th>
        <th scope="col">Voted Party and Candidate</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vote of votes">
            <td>{{getCorrispondingElection(vote.electionId)!.name}}</td>
            <td>{{getCorrispondingElection(vote.electionId)!.startDate}}</td>
            <td>{{getCorrispondingElection(vote.electionId)!.endDate}}</td>
            <td>{{vote.date}}</td>
            <td>{{getCorrispondingParty(vote.partyId)!.name}} - {{getCorrispondingParty(vote.partyId)!.candidate}}</td>
        </tr>
    </tbody>
  </table>