<table class="table mb-4">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Logo</th>
        <th scope="col">Name</th>
        <th scope="col">Candidate</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let party of parties">
            <th scope="row">{{party.id}}</th>
            <td><img class="rounded" src="{{party.base64logo}}" alt="{{party.name}}" height="100" width="60" /></td>
            <td>{{party.name.charAt(0).toUpperCase() + party.name.slice(1)}}</td>
            <td>{{party.candidate.charAt(0).toUpperCase() + party.candidate.slice(1)}}</td>
            <td>
                <span *ngIf="!deletePossibility(party.id)" class="d-inline-block" tabindex="0" data-toggle="tooltip" title="This party is present in an old vote or in one that is currently open">
                    <button type="button" [disabled]="deletePossibility(party.id) ? null : 'disabled'" class="btn btn-danger btn-sm px-4 me-md-2" (click)="deleteParty(party.id)"
                    data-toggle="tooltip" data-placement="top" title="Tooltip on top">Delete</button>
                </span>
                <button *ngIf="deletePossibility(party.id)" type="button" [disabled]="deletePossibility(party.id) ? null : 'disabled'" class="btn btn-danger btn-sm px-4 me-md-2" (click)="deleteParty(party.id)">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>