<ngb-accordion 
    class="mx-auto text-center"
    #myaccordion="ngbAccordion" 
    activeIds="panelTwo"
    type="'secondary'">
    <ngb-panel type="secondary-outline" id="panelThree">
        <ng-template ngbPanelTitle>
            <a type="button" class="btn btn-outline-secondary btn-lg px-4">New Election</a>
        </ng-template>
        <ng-template ngbPanelContent>
            <form name="newElectionForm" id="newElectionForm" #f="ngForm" (ngSubmit)="newElection(f, $event)">      
                <div class="form-floating">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                          <input required minlength="6" ngModel #name="ngModel" type="text" class="form-control text-center" id="name" name="name" placeholder="Election Name">
                        </div>
                    </div>
                    <div *ngIf="name.dirty && name.touched && name.invalid">
                        <div class="alert-danger text-center" *ngIf="name.errors?.required">
                            Required field
                        </div>
                        <div class="alert-danger text-center" *ngIf="name.errors?.minlength">
                            The name must have at least 6 characters
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="type" class="col-sm-4 col-form-label">Type</label>
                        <div class="col-sm-8">
                            <select class="form-control-plaintext text-center" id="type" name="type">
                                <option selected >municipal</option>
                                <option>regional</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dpStartDate" class="col-sm-4 col-form-label">Start Date</label>
                        <div class="col-sm-8">
                        <div class="input-group">
                            <input required ngModel #startDate="ngModel" (ngModelChange)="setStartDate(startDate.value)" class="form-control text-center" placeholder="yyyy-mm-dd" name="dpStartDate" id="dpStartDate" ngbDatepicker #dpStartDate="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="dpStartDate.toggle()" type="button">Select</button>
                            </div>
                        </div>
                        </div>
                        <div *ngIf="startDate.dirty && startDate.touched && startDate.invalid">
                            <div class="alert-danger text-center" *ngIf="startDate.errors?.required">
                                Required field
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dpEndDate" class="col-sm-4 col-form-label">End Date</label>
                        <div class="col-sm-8">
                        <div class="input-group">
                            <input required ngModel #endDate="ngModel" (ngModelChange)="setEndDate(endDate.value)" class="form-control text-center" placeholder="yyyy-mm-dd" name="dpEndDate" id="dpEndDate" ngbDatepicker #dpEndDate="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="dpEndDate.toggle()" type="button">Select</button>
                            </div>
                        </div>
                        </div>
                        <div *ngIf="endDate.dirty && endDate.touched">
                            <div *ngIf="endDate.invalid && endDate.errors?.required" class="alert-danger text-center">
                                Required field
                            </div>
                            <div class="alert-danger text-center" *ngIf="!checkEndDateValidity(f)">
                                The End Date cannot be earlier than the Start Date 
                            </div>
                        </div>
                    </div>
                    <p>Political Parties</p>
                    <div *ngFor="let party of parties" class="form-group">
                        <div class="form-control">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="{{party.name}}" value="{{party.id}}" (click)="handlePartyClick(party.id)" /> {{party.name}}
                        </label>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <button [disabled]="!f.valid" class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </ng-template>
    </ngb-panel>
    <ngb-alert *ngIf="creationFailed" class="show fade text-center" ng-reflect-type="danger" type='danger' (closed)="closeAlert()">
        {{alert}}
    </ngb-alert>  
</ngb-accordion>