<h1 class="text-center my-4">{{election.name}}</h1>

<ngb-accordion 
    class="mx-auto text-center custom_accordion my-4"
    #myaccordion="ngbAccordion"
    type="'secondary'">
    <ngb-panel type="secondary-outline">
        <ng-template ngbPanelTitle>
            <a type="button" class="btn btn-outline-secondary btn-lg px-4">Rules</a>
        </ng-template>
        <ng-template ngbPanelContent>
            <ul>
                <li>Only <strong>one</strong> political party can be voted on;</li>
                <li>
                    To <strong>vote</strong>, click on the preferred political party. You can do the same operation again on a different card to <strong>replace the vote</strong> by indicating another political party;
                </li>
                <li>
                    Once you have selected your favorite political party, click on the <strong>End Voting</strong> button. At this point, a window will open in which you can confirm your vote or go back to change your choice. This button will remain disabled until a choice is made; 
                </li>
                <li>
                    Once you have clicked the End Voting button, the operation will end and you will no longer be able to go back to change your choice.
                </li>
            </ul>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<h3 class="text-center my-4">Political Parties</h3>
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div *ngFor="let party of parties" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="" (click)="selectParty(party.id, $event)">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src={{party.base64logo}} alt="{{party.name}} Logo" />
                            </div>
                            <div [class.active]="selectedParty?.id === party.id" class="text-container">
                                <h6>{{party.name}}</h6>
                                <p>{{party.candidate}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header bg-secondary text-white">
      <h4 class="modal-title" id="modal-basic-title">Confirm your vote</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6>You voted for: <b>{{selectedParty?.name}} - {{selectedParty?.candidate}}</b></h6>
      <p>Are you sure of your choice? clicking the <em>Confirm</em> button the action cannot be canceled </p>
    </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-outline-primary btn-sm px-4 me-md-2" (click)="modal.close('Vote'); confirmVote()">Confirm</button>
      <button  type="button" class="btn btn-outline-danger btn-sm px-4 me-md-2" (click)="modal.close('Turn back')">Cancel</button>
    </div>
</ng-template>
  
<button class="btn btn-lg btn-secondary mb-4 mx-auto text-center d-block" [disabled]="selectedParty === undefined" (click)="open(content)">Finish Voting</button>
  